<header><%= render 'shared/header' %></header>
<main>
	<%= render 'shared/navigate' %>
	<% @categories.each do |category| %>
		<% unless category.products.count.zero? %>
		<section class="sectioned_category">
			<h2><%= category.name %></h2>
			<%= render partial: 'products/product',
					   collection: category.products,
					   locals: { display_link_to_show: true, 
					   			 display_link_to_edit: false } %>
		</section>
		<% end %>
	<% end %>
</main>
<%= render 'shared/footer' %>