<header><%= render 'shared/header' %></header>
<main>
	<%= render 'shared/navigate' %>

		<%= render partial: 'products/product',
					   collection: @products,
					   locals: { display_link_to_show: true, 
					   			 display_link_to_edit: false } %>
		

		<%= paginate @products %>
		
</main>
<%= render 'shared/footer' %>