<header><%= render 'shared/header' %></header>
<main class="show">
  <%= render 'shared/navigate' %>

  <div>
    <% if @product.image_filename.present? %>
      <%= image_tag @product.image_filename %>
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description.split("\n").map {|desc|"#{desc}"}.join("\n\n")
        %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <strong>Stock quantity:</strong>
      <%= @product.stock_quantity %>
    </p>
  </div>
  <%= link_to 'Back to Storefront', root_path %>
</main>
<%= render 'shared/footer' %>
