<div class="product_front">
  
  <% if product.image_filename.present? %>
    <%= image_tag product.image_filename %>
  <% end %>
  
  <h3>
    <%= link_to product.name, show_path(product) %>
  </h3>
  
  <p>
    <%= product.description.truncate(100) %>
  </p>

  <% if product.stock_quantity.zero? %>
    <small>Out of Stock </small>
  <% else %>
    <small>
      <strong>Stock Quantity:</strong> <%= product.stock_quantity %>
    </small>
  <% end %>
  
  <p class="price">
    <strong>Price:</strong>
    $<%= product.price %>
  </p>

  <!-- <input type="text" id="quantity" name="quantity" />  -->
  <!-- <button type="button">Buy</button> -->

</div>